:root {
  --clr1: #292929;
  --clr2: #58c93a;
  --clr3: #ffffff;
  --clr4: #4f4e4e;
  --clr5: #606060;
  --clr6: #c2c1c1;
  --clr8: #818181;
  --clr9: #f8f8f8;
  --clr10: #939292;
  --clr11: #516fad;
  --clr12: #1d1d1d;
  --clr13: #1da1f2;
  --clr14: #1769ff;
  --clr15: #ea4c89;
  --clr16: #e5e5e5;
}
